<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://i.pinimg.com/236x/8e/30/4a/8e304aac188acd1f61943e58752a2115.jpg" alt="">
  </div>
  <div class="big-card__data">
    <span>Januari 11, 2022</span>
  </div>
  <div class="big-card__title">
    <a href="#">
      <h1>Lorem Ipsum é simplesmente uma simulação de texto</h1>
    </a>
  </div>
  <div class="big-card__description">
    <a href="#">
      <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de
        impressos.Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos</p>
    </a>
  </div>
  <hr>
</div>
