.container__menu-title > h1 {
  font-size: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container__menu-title > h1 {
    font-size: 135px;
    line-height: 12rem;
  }
}

@media screen and (min-width: 1024px) {
  .container__menu-title > h1 {
    font-size: 250px;
    line-height: 15rem;
  }
}

.container__menu-title > hr {
  border: 1px solid #202020;
}
